.form {
  &__title {
    font-size: 2em;
    margin-bottom: .5em;
    text-align: center;
  }

  &__field {
    margin: .4em 0;
  }
}

label {
  font-family: 'Caesar', cursive;
}

input {
  width: 100%;
}

button {
  width: 100%;
}
