@import '../../../../../scss/globals';

$view-navigation__background-color: rgba($color__black, .5);

$item__color: rgba($color__white, .85);

.view-navigation {
  @extend %box-shadow;
  @include border('../../../../../assets');
  background: $view-navigation__background-color;
  display: flex;
  padding: 5px 10px;

  &__item {
    color: $item__color;
    margin: 0 10px;
    font-family: 'Caesar', cursive;
    transition: .3s color;

    &:hover {
      color: $color__white;
    }
  }
}
