<h1>{{'acp.worlds.create-form.title' | translate}}</h1>

<form (submit)="onSubmit()">
  <div>
    <label for="name">{{'acp.worlds.create-form.name' | translate}}</label>
    <input type="text" id="name" name="name" [(ngModel)]="dto.name">
    <a (click)="fetchRandomWorldName()">{{'acp.worlds.create-form.random-name' | translate}}</a>
  </div>

  <button type="submit" [disabled]="!canSubmit">{{'acp.worlds.create-form.submit' | translate}}</button>
</form>
