<zephyros-main-full-page>
  <h1>{{extension.title}}</h1>

  <p>{{extension.description}}</p>

  <div>
    <h4>Nationen</h4>

    <ul>
      <li>Mesapotamien</li>
      <li>Babylonien</li>
    </ul>
  </div>
</zephyros-main-full-page>
