<zephyros-dialog [title]="'dialogs.exception.title' | translate" image="researcher" (close)="onClose()">
  <p>Du hast einen Fehler gefunden!</p>

  <p>Ab und an kann es passieren, dass sich ein Fehler in den Code schleicht.</p>

  <p>Wir hoffen, dass dein Spielerlebnis nicht zu sehr beeinträchtigt wurde. Als Entschädigung erhältst du folgendes Abzeichen:</p>

  <hr>
  Spuersinn
  <hr>

  <h5>Verdiene 100 Nepenthes</h5>
  <p>Weißt du noch, was du gemacht hast, bevor der Fehler aufgetreten ist? Versuch es uns so genau wie möglich zu beschreiben,
    damit wir den Fehler beheben können. Als Dankeschön für deine Hilfe erhältst du von uns 100 Nepenthes, wenn der Fehler
    bisher noch nicht gemeldet wurde.</p>

  <label for="error-description">Was hast du gemacht, das den Fehler ausgelöst hat?</label>
  <textarea id="error-description"></textarea>
  <button>Abschicken</button>
</zephyros-dialog>
