@import '../../../../../scss/globals';

$menu-item__color: $color__beige;
$menu-item__color--hover: #dcc092;
$menu-item__color--active: #dcbd89;
$menu-item__text-shadow-color: rgba(8, 6, 3, .5);
$menu-item__text-shadow-color--hover: rgba(8, 6, 4, .9);
$menu-item__transition-time: .3s;

.menu-item {
  color: $menu-item__color;
  font-family: 'Caesar', cursive;
  font-size: 18px;
  text-shadow: 0 1px 3px $menu-item__text-shadow-color;
  transition: $menu-item__transition-time color, $menu-item__transition-time text-shadow;

  &:hover {
    color: $menu-item__color--hover;
    text-shadow: 0 1px 3px $menu-item__text-shadow-color--hover;
  }

  &--active {
    color: $menu-item__color--active;
  }
}
