@import '../../../../../../../../../scss/globals';

.rename-form {
  display: flex;
  flex-direction: column;

  &__input-line {
    align-items: center;
    display: flex;
  }
}

.input {
  flex: 1;
}

.random-city-name {
  align-items: center;
  display: flex;
  margin-left: 12px;

  &__label {
    background: url('../../../../../../../../../assets/ingame/buildings/palace/random-city-name.png') 0 0 no-repeat;
    cursor: pointer;
    height: 14px;
    margin-bottom: 0;
    width: 16px;

    &:hover {
      background-position-y: -14px;
    }
  }

  &__spinner {
    fill: $button__light-brown;
    width: 16px;
  }
}
