<h1>{{('buildings.palace.name') | translate}}</h1>

<h2>Rename</h2>
<form class="rename-form" (submit)="onSubmit()">
  <div class="rename-form__input-line">
    <input type="text" id="city-name-input" name="city-name-input" class="input" [(ngModel)]="dto.name"
           [disabled]="isRequestingRandomName || isWaitingForResponse" (ngModelChange)="cityNameChanged()">

    <div class="random-city-name">
      <label for="city-name-input" class="random-city-name__label" [title]="'buildings.palace.rename.request-random-city-name' | translate"
             (click)="requestRandomName()" *ngIf="!isRequestingRandomName"></label>

      <zephyros-icon-widget [icon]="Icon.Loading" *ngIf="isRequestingRandomName" class="random-city-name__spinner"></zephyros-icon-widget>
    </div>
  </div>

  <button type="submit" [disabled]="!canSave" [ngClass]="{'pulsing': isWaitingForResponse}">
    <ng-container *ngIf="isWaitingForResponse">
      <zephyros-icon-widget [icon]="Icon.Loading"></zephyros-icon-widget>
    </ng-container>

    <ng-container *ngIf="cityNameSuccessfullySaved">
      <zephyros-icon-widget [icon]="Icon.Tick"></zephyros-icon-widget>
    </ng-container>

    <span *ngIf="!isWaitingForResponse && !cityNameSuccessfullySaved" translate>buildings.palace.rename.save</span>
  </button>
</form>
