@import '../../../../../scss/globals';

.header {
  align-items: center;
  background: url('../../../../../assets/main/main-header.png') repeat-x;
  display: flex;
  height: $main-header__height--actual;
  justify-content: space-between;
  padding: 0 2em;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.logo {
  align-self: flex-start;
  background: url('../../../../../assets/main/main-header-logo.png') no-repeat;
  height: 42px;
  margin-top: 15px;
  width: 185px;
}

.nav {
  margin-top: 4px;
}

.nav-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  &__item {
    display: inline-block;
    margin: 0 1em;
  }
}
