<header class="header">
  <a class="logo" routerLink="/"></a>

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list__item" *ngFor="let menuItem of menuItems">
        <zephyros-main-header-menu-item [label]="menuItem.translationKey | translate"
                                        [link]="menuItem.routerLink"></zephyros-main-header-menu-item>
      </li>
    </ul>
  </nav>

  <zephyros-main-user-menu [authState]="authState" (logout)="logout.emit()"></zephyros-main-user-menu>
</header>
