.icon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-left: 2px;

  &--abandoned {
    background-image: url('../../../../../assets/ingame/icons/city/abandoned.png');
  }

  &--capital {
    background-image: url('../../../../../assets/ingame/icons/city/capital.png');
  }

  &--connection {
    background-image: url('../../../../../assets/ingame/icons/city/connection.png');
  }

  &--conquest {
    background-image: url('../../../../../assets/ingame/icons/city/conquest.png');
  }

  &--spy {
    background-image: url('../../../../../assets/ingame/icons/city/spy.png');
  }
}
