<div class="icons" *ngIf="city">
  <div class="icon icon--abandoned" *ngIf="false"></div>
  <div class="icon icon--capital" *ngIf="city.capital" [matTooltip]="'city.capital' | translate"></div>
  <div class="icon icon--connection" *ngIf="false"></div>
  <div class="icon icon--conquest" *ngIf="false"></div>
  <div class="icon icon--spy" *ngIf="false"></div>
</div>
