@import '../../../../../../../scss/globals';

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4em;

  &__icon {
    fill: $color__brown;
    height: 2em;
    margin-bottom: 1.2em;
  }

  &__label {
    color: $color__brown;
    font-size: 1.2em;
    opacity: .8;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.progress-list {
  flex: 1;
}
