<zephyros-main-split-page>
  <ng-container content>
    <zephyros-featured></zephyros-featured>

    <div *ngIf="isLoading else loaded" class="loading">
      <zephyros-icon-widget [icon]="Icon.Loading" class="loading__icon"></zephyros-icon-widget>
      <span class="loading__label">{{'worlds-overview.loading' | translate}}</span>
    </div>

    <ng-template #loaded>
      <zephyros-worlds-list *ngIf="!isTimeout else timeout" [title]="'worlds-overview.play-along' | translate"
                            [worlds]="worlds"></zephyros-worlds-list>

      <ng-template #timeout>
        <zephyros-main-timeout-error (retry)="fetchWorlds()"></zephyros-main-timeout-error>
      </ng-template>
    </ng-template>
  </ng-container>

  <aside class="sidebar" sidebar>
    <div class="progress-list">
      <p>Lorem ipsum</p>
    </div>

    <zephyros-sidebar-blog-preview></zephyros-sidebar-blog-preview>
  </aside>
</zephyros-main-split-page>
