<zephyros-main-split-page>
  <div class="content" content>
    <h1>
      <span *ngIf="world else worldNamePlaceholder">{{world.name}}</span>
      <ng-template #worldNamePlaceholder>
        <zephyros-placeholder-widget class="world-name-placeholder"></zephyros-placeholder-widget>
      </ng-template>
    </h1>

    <button (click)="join()" [disabled]="buttonDisabled" [ngClass]="{'pulsing': waitingForResponse}">
      <ng-container *ngIf="waitingForResponse">
        <zephyros-icon-widget [icon]="Icon.Loading"></zephyros-icon-widget>
      </ng-container>

      <ng-container *ngIf="success">
        <zephyros-icon-widget [icon]="Icon.Tick"></zephyros-icon-widget>
      </ng-container>

      <span *ngIf="!waitingForResponse && !success" translate>join-world.join</span>
    </button>
  </div>

  <aside sidebar>
    <div class="screenshots">
      <img src="/assets/main/screenshots/1.png" class="screenshot">
      <img src="/assets/main/screenshots/2.png" class="screenshot">
      <img src="/assets/main/screenshots/3.png" class="screenshot">
      <img src="/assets/main/screenshots/4.png" class="screenshot">
      <img src="/assets/main/screenshots/5.png" class="screenshot">
      <img src="/assets/main/screenshots/6.png" class="screenshot">
      <img src="/assets/main/screenshots/7.png" class="screenshot">
    </div>
  </aside>
</zephyros-main-split-page>
