@import '../../../../../../../scss/globals';

.content {
  padding: 2em;
}

.world-name-placeholder {
  width: 5em;
}

.screenshots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5em;
}

.screenshot {
  @extend %box-shadow;
  @include border('../../../../../../../assets');
  margin-bottom: .5em;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}
