<div class="city" [title]="tooltipTranslationKey | translate:{name: city.name}" style="left: 535px; top: 190px;"> <!-- todo -->
  <div class="city__preview city__preview--size-1"></div>

  <div class="city__name">
    <zephyros-city-name-with-icons-widget [city]="city"></zephyros-city-name-with-icons-widget>
  </div>
</div>
