$city-name__color: #47260f;
$city-name__text-shadow-color: rgba(29, 16, 7, .4);

.city {
  align-items: center;
  background: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);

  &__preview {
    &--size {
      &-1 {
        background-image: url('../../../../../../../assets/ingame/world-map/city/city-size-1.png');
        height: 50px;
        width: 66px;
      }
    }
  }

  &__name {
    background: url('../../../../../../../assets/ingame/world-map/city/city-name-small.png') no-repeat;
    color: $city-name__color;
    font-family: 'Lithos', 'PT Sans', sans-serif;
    font-size: 10px;
    height: 22px;
    line-height: 0;
    padding-top: 4px;
    text-align: center;
    text-shadow: 0 1px 1px $city-name__text-shadow-color;
    width: 93px;
  }
}
