<h1>{{('buildings.palace.name') | translate}}</h1>

<h2>Gebaeude</h2>

<ul>
  <li *ngFor="let buildingSiteItem of buildingSites$ | async">
    <a [routerLink]="'../../' + buildingSiteItem.building.id" *ngIf="buildingSiteItem.building.id !== 'palace' else palaceItem">
      {{'buildings.' + buildingSiteItem.building.id + '.name' | translate}}
    </a>

    <ng-template #palaceItem>{{('buildings.palace.name') | translate}}</ng-template>
  </li>
</ul>
