.map {
  background: url('../../../../../../../assets/ingame/city-map/2.jpg') no-repeat;
  height: 510px;
  margin-left: 1px;
  position: relative;
  width: 897px;

  &--has-wall {
    &:before {
      background: url('../../../../../../../assets/ingame/city-map/wall.png') no-repeat;
      content: '';
      display: block;
      height: 100%;
    }
  }
}

.building-site {
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;

  &:before {
    background: no-repeat;
    content: '';
    display: none;
    height: 100px;
    width: 100px;
  }

  &:hover {
    &:before {
      display: block;
    }
  }

  &--progress {
    @for $i from 1 through 100 {
      &-#{$i} {
        &:before {
          background-image: url('../../../../../../../assets/ingame/city-map/circles/#{$i}.png');
        }
      }
    }
  }

  &--site {
    &-1 {
      left: 418px;
      top: 216px;
    }

    &-2 {
      left: 396px;
      top: 54px;
    }

    &-3 {
      left: 67px;
      top: 27px;
    }

    &-4 {
      left: 268px;
      top: 12px;
    }

    &-5 {
      left: 664px;
      top: 23px;
    }

    &-6 {
      left: 816px;
      top: 37px;
    }

    &-7 {
      left: 310px;
      top: 110px;
    }

    &-8 {
      left: 279px;
      top: 196px;
    }

    &-9 {
      left: 506px;
      top: 133px;
    }

    &-10 {
      left: 153px;
      top: 147px;
    }

    &-11 {
      left: 18px;
      top: 192px;
    }

    &-12 {
      left: 726px;
      top: 200px;
    }

    &-13 {
      left: 179px;
      top: 397px;
    }

    &-14 {
      left: 570px;
      top: 413px;
    }
  }

  &--empty {
    background-image: url('../../../../../../../assets/ingame/city-map/buildings/empty.png');
    height: 73px;
    width: 70px;
  }

  &--palace,
  &--quarry,
  &--barracks {
    background-image: url('../../../../../../../assets/ingame/city-map/buildings/building.png');
    height: 56px;
    width: 53px;

    &:before {
      margin-left: -22px;
      margin-top: -19px;
    }
  }

  &--wall {
    background-image: url('../../../../../../../assets/ingame/city-map/buildings/wall-closed.png');
    height: 58px;
    width: 103px;

    &:before {
      margin-left: -5px;
      margin-top: -22px;
    }
  }

  &--construction {
    background-image: url('../../../../../../../assets/ingame/city-map/buildings/construction.png');
    height: 55px;
    width: 70px;

    &:before {
      margin-left: -12px;
    }
  }
}
