<div class="map" [ngClass]="{'map--has-wall': hasWall()}">
  <ng-container *ngFor="let buildingSite of buildingSites">
    <a class="building-site building-site--{{buildingSite.building.id}} building-site--site-{{buildingSite.site}} building-site--progress-50"
       [ngClass]="{'building-site--construction': buildingSite.construction !== null}" [routerLink]="'building/' + buildingSite.building.id"></a>
  </ng-container>

  <ng-container *ngIf="city">
    <ng-container *ngFor="let site of emptySites">
      <div class="building-site building-site--empty building-site--site-{{site}}" (click)="constructBuilding(site)"></div>
    </ng-container>
  </ng-container>
</div>
