<zephyros-building-template [buildingSite]="buildingSite$ | async">
  <router-outlet content></router-outlet>
  <zephyros-palace-sidebar sidebar></zephyros-palace-sidebar>
</zephyros-building-template>
