@import '../../../../../scss/globals';

$placeholder__background-color: rgba($color__black, .3);

:host {
  background: $placeholder__background-color;
  border-radius: .18em;
  display: inline-block;
  height: 1em;
  width: 100%;
}
