<ng-container [ngSwitch]="icon">
  <ng-container *ngSwitchCase="Icon.Loading">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="spinning">
      <path d="M15 8c0 3.9-3.1 7-7 7s-7-3-7-7h-1c0 4 3.6 8 8 8s8-3.6 8-8h-1z"></path>
    </svg>
  </ng-container>

  <ng-container *ngSwitchCase="Icon.Tick">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26">
      <path d="m.3,14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4,0l.1,.1 5.5,5.9c0.2,0.2
        0.5,0.2 0.7,0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4 1-0.4 1.4,0l1.4,1.4c0.4,0.4 0.4,1
        0,1.4l0,0-16,16.6c-0.2,0.2-0.4,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z"></path>
    </svg>
  </ng-container>
</ng-container>
