:host {
  display: inline-flex;
  position: relative;
}

svg {
  height: 100%;
}

.spinning {
  animation: spinning 2s linear infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
