@import '../../../../../../../scss/globals';

$gradient__color--start: rgba($color__black, .25);
$gradient__color--end: $color__black;

$body__color: rgba($color__white, .8);
$details__color: rgba($color__white, .5);

.preview {
  @include border('../../../../../../../assets', true, false, false, false);
  align-items: center;
  background: url('../../../../../../../assets/main/blog-preview-image.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  height: 160px;
  position: relative;

  &:before {
    background-image: linear-gradient(to bottom right, $gradient__color--start, $gradient__color--end);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content {
    padding: 0 1.4em;
    position: relative;
    z-index: 1;
  }

  &__title {
    color: $color__white;
    font-size: 1.6em;
    font-family: 'Caesar', cursive;
  }

  &__body {
    color: $body__color;
  }

  &__details {
    color: $details__color;
    font-family: 'Caesar', cursive;
    margin-bottom: 0;
  }
}
