<div class="preview">
  <div class="preview__content">
    <h1 class="preview__title">Lorem ipsum</h1>
    <p class="preview__body">Lorem ipsum dolor sit amet consetetur loerm ipsum.</p>
    <p class="preview__details">17.11.2018</p>
  </div>
</div>
