@import '../../../../../../../scss/globals';

$worlds-list-title__color: #24190d;

$worlds__spacing: 8px;

:host {
  display: block;
}

.world-list {
  padding: 2em;

  &__title {
    color: $worlds-list-title__color;
    font-size: 1.4rem;
    margin-top: -.2em;
    margin-bottom: .8em;
    text-transform: uppercase;
  }
}

.worlds {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: -$worlds__spacing;

  &__item {
    height: 200px;
    padding: $worlds__spacing;
    width: 25%;
  }
}
