<div class="world-list">
  <h1 class="world-list__title">{{title}}</h1>

  <div class="worlds" @worldsListAnimation>
    <div class="worlds__item" *ngFor="let world of worlds">
      <zephyros-world [world]="world"></zephyros-world>
    </div>
  </div>
</div>
