<zephyros-main-split-page>
  <div content>
    <zephyros-main-jumbotron [title]="'about.intro.title' | translate"
                             [body]="'about.intro.body' | translate"></zephyros-main-jumbotron>

    <div class="about-game">
      <h1>Über Zephyros</h1>

      <p>Lorem ipsum</p>
    </div>
  </div>

  <aside sidebar>
    <div class="pictures">
      <img src="/assets/main/screenshots/6.png" class="picture">
      <img src="/assets/main/screenshots/1.png" class="picture">
    </div>
  </aside>
</zephyros-main-split-page>
