@import '../../../../../../../scss/globals';

.about-game {
  padding: 2em;
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5em;
}

.picture {
  @extend %box-shadow;
  @include border('../../../../../../../assets');
  margin-bottom: .5em;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}
