@import '../../../../../scss/globals';

.screen {
  height: 100%;
  position: relative;
  z-index: 1;
}

.animation-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: $main-header__height;
}
