<div class="screen">
  <zephyros-main-header [menuItems]="headerMenuItems$ | async" [authState]="authState$ | async" (logout)="onLogout()"></zephyros-main-header>

  <div class="animation-container" [@routingFadeAnimation]="getRoutePage(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
