@import '../../../scss/globals';

:host {
  overflow: hidden;
}

.cookies-notification {
  align-items: center;
  display: flex;
  padding: 1.25em 2em;

  &__text {
    flex: 1;
  }

  &__title {
    font-size: 18px;
  }

  &__paragraph {
    margin-bottom: 0;
  }

  &__button {
    margin-left: 1.8em;
  }
}
