<div class="cookies-notification">
  <div class="cookies-notification__text">
    <h5 class="cookies-notification__title">{{'policies.cookies.notification.title' | translate}}</h5>
    <p class="cookies-notification__paragraph">{{'policies.cookies.notification.text' | translate}}</p>
  </div>

  <div class="cookies-notification__options">
    <a routerLink="/policies/cookies-policy">{{'policies.cookies.title' | translate}}</a>
    <button (click)="accept.emit()" class="cookies-notification__button">{{'policies.cookies.notification.accept' | translate}}</button>
  </div>
</div>
