@import '../../../../../scss/globals';

:host {
  display: block;
}

.resources {
  @include border('../../../../../assets', false, false, true, false);
  background: url('../../../../../assets/bg.jpg') repeat $background-image__average-color;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.6);
  color: $color__white;
  display: flex;
  position: relative;

  &:before {
    background: $color__black;
    content: '';
    height: 100%;
    opacity: .6;
    position: absolute;
    width: 100%;
  }
}

.resource {
  flex: 1;
}
