<h1 mat-dialog-title>{{'dialogs.construct-building.title' | translate:({cityName: data.city.name})}}</h1>

<mat-dialog-content>
  <div class="building" *ngFor="let building of buildings$ | async" (click)="startConstruction(building)">
    {{'buildings.' + building.id + '.name' | translate}}
  </div>
</mat-dialog-content>
