@import '../../../../../../../scss/globals';

$menu-item__color: #181106;

.menu-item {
  background: url('../../../../../../../assets/ingame/sidebar/menu-item.png') 0 0 no-repeat;
  color: $menu-item__color;
  display: inline-block;
  height: 23px;
  padding: 1px 8px;
  width: 251px;

  &:hover {
    background-position: 0 -23px;
    color: $color__white;
  }

  &--active {
    background-position: 0 -23px;
    color: $color__white;
  }
}
