@import '../../../../../../../scss/globals';

.title {
  background: url('../../../../../../../assets/ingame/sidebar/title.png') no-repeat;
  color: $color__white;
  padding: 2px 8px;
  height: 36px;
}
