@import '../../../../../scss/globals';

.wrapper {
  position: relative;
}

.radial-progress {
  transform: rotate(-90deg);

  &__meter {
    fill: none;
    stroke: rgba($color__black, .2);
  }

  &__value {
    fill: none;
    stroke: $color__beige;
  }
}

.content {
  align-items: center;
  color: $color__beige;
  font-size: .6em;
  font-weight: 700;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-shadow: 0 1px 2px rgba($color__black, .2);
  top: 0;
  width: 100%;
}
