<div class="wrapper" [style.fontSize.px]="radius">
  <svg class="radial-progress" [attr.width]="size" [attr.height]="size" [attr.viewBox]="'0 0 ' + size + ' ' + size">
    <circle class="radial-progress__meter" [attr.cx]="size / 2" [attr.cy]="size / 2" [attr.r]="radius"
            [attr.stroke-width]="strokeWidth"/>

    <circle #progress class="radial-progress__value" [attr.cx]="size / 2" [attr.cy]="size / 2" [attr.r]="radius"
            [attr.stroke-width]="strokeWidth"/>
  </svg>

  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
