@import '../../../../../scss/globals';

$user-menu__background-color: #111;
$user-menu__color: $color__beige;
$user-menu__color--hover: #dcc092;
$user-menu__color--active: #dcbd89;
$user-menu__text-shadow-color: rgba(8, 6, 3, .5);
$user-menu__text-shadow-color--hover: rgba(8, 6, 4, .9);
$user-menu__transition-time: .3s;

.user-menu {
  align-items: center;
  color: $user-menu__color;
  display: flex;
  text-shadow: 0 1px 3px $user-menu__text-shadow-color;
  transition: $user-menu__transition-time color, $user-menu__transition-time text-shadow;

  &:hover {
    color: $user-menu__color--hover;
    text-shadow: $user-menu__text-shadow-color--hover;
  }

  &:focus & {
    &__avatar {
      box-shadow: $box-shadow--focus;
    }
  }

  &--active {
    color: $user-menu__color--active;
  }

  &__avatar {
    @extend %box-shadow--focusable;
    height: 36px;
    margin-right: 10px;
    width: 36px;
  }

  &__username {
    flex: 1;
    font-family: 'Caesar', cursive;
    font-size: 18px;
    padding-top: 4px;
  }
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2em;
  top: calc(#{$main-header__height} - 4px);
  width: 200px;

  &:before {
    align-self: flex-end;
    background: url('../../../../../assets/main/user-menu-arrow.png') no-repeat;
    content: '';
    height: 8px;
    position: relative;
    right: 8px;
    width: 16px;
    z-index: 2;
  }

  &__inner {
    @extend %box-shadow;
    @include border('../../../../../assets');
    background: $user-menu__background-color;
    display: flex;
    flex-direction: column;
    font-family: 'Caesar', cursive;
    font-size: 14px;
    line-height: 1.6;
    margin-top: -2px;
    padding-top: 1px;
    text-align: center;
  }

  &__link {
    color: $user-menu__color;
    cursor: pointer;
    outline: 0;
    padding: 8px;
    text-shadow: 0 1px 3px $user-menu__text-shadow-color;
    transition: $user-menu__transition-time color, $user-menu__transition-time text-shadow;

    &:hover {
      color: $user-menu__color--hover;
      text-shadow: $user-menu__text-shadow-color--hover;
    }
  }
}
