<a class="user-menu" [ngClass]="{'user-menu--active': isDropdownVisible}"
   [routerLink]="!isAuthenticationPending && isGuest ? '/join' : []" (click)="toggleDropdown()">
  <zephyros-avatar-widget [avatarSrc]="authState.user?.avatar" class="user-menu__avatar"></zephyros-avatar-widget>
  <zephyros-change-animation-widget [value]="isAuthenticationPending ? ('username-pending' | translate) : isGuest ? ('guest' | translate) : username"
                                    class="user-menu__username"></zephyros-change-animation-widget>
</a>

<div class="user-dropdown" @userDropdownAnimation *ngIf="isDropdownVisible">
  <div class="user-dropdown__inner">
    <a [routerLink]="'/profile/' + authState.user.id" (click)="hideDropdown()" class="user-dropdown__link">
      {{'profile.nav-label' | translate}}
    </a>

    <a [routerLink]="'/settings'" (click)="hideDropdown()" class="user-dropdown__link">
      {{'settings.nav-label' | translate}}
    </a>

    <a [routerLink]="'/acp'" (click)="hideDropdown()" *ngIf="showAcpLink" class="user-dropdown__link">
      {{'acp.nav-label' | translate}}
    </a>

    <a (click)="handleLogout()" class="user-dropdown__link" tabindex="0">
      {{'logout' | translate}}
    </a>
  </div>
</div>
