<div class="full-page" [zephyrosSaveScroll]="page">
  <main class="content">
    <ng-content></ng-content>
  </main>

  <zephyros-main-footer [menuItems]="footerMenuItems"></zephyros-main-footer>
</div>
