@import '../../../../../../../scss/globals';

:host {
  display: block;
  height: 100%;
}

.full-page {
  background: url('../../../../../../../assets/bg.jpg') repeat local $background-image__average-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.content {
  flex: 1;
}
