@import '../../../scss/globals';

:host {
  align-items: center;
  background: url('../../../assets/bg.jpg') repeat;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.loading-icon {
  fill: $color__brown;
  height: 3em;
}
