<zephyros-main-full-page>
  <zephyros-main-jumbotron [title]="'extensions.intro.title' | translate"
                           [body]="'extensions.intro.body' | translate"></zephyros-main-jumbotron>

  <div class="extensions" @extensionsListAnimation *ngIf="extensions$ | async as extensions">
    <zephyros-extension *ngFor="let extension of extensions" [extension]="extension"></zephyros-extension>
  </div>
</zephyros-main-full-page>
