<form class="form" (submit)="onSubmit()" *ngIf="state$ | async as state">
  <h1 class="form__title">{{'login.title' | translate}}</h1>

  <div *ngIf="state.error">{{getErrorMessage(state.error) | async}}</div>

  <div class="form__fields">
    <section class="form__field">
      <label for="login-username">{{'username' | translate}}</label>
      <input type="text" id="login-username" name="username" [(ngModel)]="dto.username" autocomplete="username" required>
    </section>

    <section class="form__field">
      <label for="login-password">{{'password' | translate}}</label>
      <input type="password" id="login-password" name="password" [(ngModel)]="dto.password" autocomplete="current-password" required>
    </section>
  </div>

  <button type="submit" [disabled]="state.formDisabled" [ngClass]="{'pulsing': state.waitingForResponse}">
    <ng-container *ngIf="state.waitingForResponse">
      <zephyros-icon-widget [icon]="Icon.Loading"></zephyros-icon-widget>
    </ng-container>

    <ng-container *ngIf="state.success">
      <zephyros-icon-widget [icon]="Icon.Tick"></zephyros-icon-widget>
    </ng-container>

    <span *ngIf="!state.waitingForResponse && !state.success" translate>login.submit</span>
  </button>
</form>
