<zephyros-main-split-page>
  <ng-container content>
    <ng-container *ngIf="joinedWorlds$ | async as joinedWorlds">
      <ng-container *ngIf="joinedWorlds.length">
        <zephyros-worlds-list [title]="'worlds-overview.continue-playing' | translate" [worlds]="joinedWorlds"
                              class="worlds-list--continue-on"></zephyros-worlds-list>

        <hr class="separator">
      </ng-container>
    </ng-container>

    <ng-container *ngIf="worldsToJoin$ | async as worldsToJoin"> <!-- todo: else loading -->
      <zephyros-worlds-list *ngIf="worldsToJoin.length else noJoinableWorlds" [title]="'worlds-overview.play-along' | translate"
                            [worlds]="worldsToJoin"></zephyros-worlds-list>

      <ng-template #noJoinableWorlds>
        <div class="no-joinable-worlds">
          {{'worlds-overview.no-joinable-worlds' | translate}}
        </div>
      </ng-template>
    </ng-container>
  </ng-container>

  <aside class="sidebar" sidebar>
    <zephyros-main-sidebar-challenges class="challenges"></zephyros-main-sidebar-challenges>

    <zephyros-sidebar-blog-preview></zephyros-sidebar-blog-preview>
  </aside>
</zephyros-main-split-page>
