@import '../../../../../../../scss/globals';

$worlds-list__background-color--continue-on: rgba($color__black, .2);

$no-joinable-worlds__color: rgba(54, 24, 7, .8);

.worlds-list--continue-on {
  @extend %box-shadow;
  background: $worlds-list__background-color--continue-on;
}

.separator {
  @include border('../../../../../../../assets', false, false, true, false);
  height: 0;
  margin: 0;
}

.no-joinable-worlds {
  color: $no-joinable-worlds__color;
  padding: 2em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.challenges {
  flex: 1;
  overflow: auto;
}
