<div class="split-page">
  <div class="split-page__left" [zephyrosSaveScroll]="page">
    <main class="content">
      <ng-content select="[content]"></ng-content>
    </main>

    <zephyros-main-footer [menuItems]="footerMenuItems"></zephyros-main-footer>
  </div>

  <aside class="split-page__right">
    <div class="sidebar-content">
      <ng-content select="[sidebar]"></ng-content>
    </div>
  </aside>
</div>
