@import '../../../../../../../scss/globals';

$color__brown: #452d1a;
$sidebar-overlay__background-color: rgba($color__brown, .6);

.split-page {
  align-items: stretch;
  display: flex;
  height: 100%;

  &__left {
    background: url('../../../../../../../assets/bg.jpg') repeat local $background-image__average-color;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
  }

  &__right {
    @include border('../../../../../../../assets', false, false, false, true);
    background: url('../../../../../../../assets/bg.jpg') repeat local $background-image__average-color;
    position: relative;
    width: 18%;

    &:before {
      background: $sidebar-overlay__background-color;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}

.content {
  flex: 1;
}

.sidebar-content {
  flex-direction: column;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
}
