<zephyros-main-full-page>
  <div class="screen">
    <div class="forms">
      <zephyros-login-form class="forms__form forms__form--login"></zephyros-login-form>

      <zephyros-register-form class="forms__form forms__form--register"></zephyros-register-form>
    </div>
  </div>
</zephyros-main-full-page>
