@import '../../../../../../../scss/globals';

$join-screen__background-color: rgba($color__white, .95);

.screen {
  align-items: center;
  background: url('../../../../../../../assets/main/hydra.png') center no-repeat;
  background-size: contain;
  display: flex;
  height: 100%;
  justify-content: center;
}

.forms {
  @extend %box-shadow;
  @include border('../../../../../../../assets');
  align-items: center;
  background: $join-screen__background-color;
  display: flex;
  width: 800px;

  &__form {
    flex: 1;
    padding: 2em;

    &--register {
      @include border('../../../../../../../assets', false, false, false, true);
    }
  }
}
