.label {
  cursor: pointer;
  margin-bottom: 0;

  &--pending {
    cursor: default;
  }
}

.avatar {
  height: 100px;
  width: 100px;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
