<label class="label" [ngClass]="{'label--pending': uploadPending}">
  <zephyros-avatar-widget [avatarSrc]="previewSrc || user?.avatar" [pending]="uploadPending" class="avatar"></zephyros-avatar-widget>
  <input #imageInput type="file" accept="image/*" (change)="processFile()" class="file-input" [disabled]="uploadPending">
</label>
