@import '../../../../../../scss/globals';

$dialog__background-color: #f1e3bb;
$dialog__box-shadow-color--1: rgba($color__black, .14);
$dialog__box-shadow-color--2: rgba($color__black, .12);
$dialog__box-shadow-color--3: rgba($color__black, .4);
$dialog__offset: 30px;

$image-container__box-shadow-color: #222;

$title__color: #e8dabe;

$action-button__background-color: rgba($color__black, .7);

.dialog {
  background: url('../../../../../../assets/dialog/dialog-bg.png') right center repeat-y $dialog__background-color;
  box-shadow: 0 16px 24px 2px $dialog__box-shadow-color--1, 0 6px 30px 5px $dialog__box-shadow-color--2, 0 8px 10px -5px $dialog__box-shadow-color--3;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.7;
  position: absolute;
  top: 0;
  text-align: justify;
  width: 675px;
  z-index: 100;

  &--main {
    max-height: calc(100% - #{$main-header__height} - #{$dialog__offset});
  }

  &--ingame {
    max-height: calc(100% - #{$ingame-header__height} - #{$dialog__offset});
  }
}

.header {
  background: url('../../../../../../assets/dialog/dialog-header.png') left bottom repeat-x;
  height: 28px;
  padding-left: 62px;
  position: relative;
  text-align: center;
  width: 100%;
}

.image-container {
  background: url('../../../../../../assets/dialog/dialog-header-image.png') no-repeat;
  box-shadow: 0 0 3px $image-container__box-shadow-color;
  height: 50px;
  left: 22px;
  position: absolute;
  top: -35px;
  width: 50px;
  z-index: 221;

  &__image {
    background: no-repeat;
    height: 44px;
    margin: 3px;
    width: 44px;

    &--default {
      background-image: url('../../../../../../assets/dialog/images/default.png');
    }

    &--researcher {
      background-image: url('../../../../../../assets/dialog/images/researcher.png');
    }
  }
}

.title {
  color: $title__color;
  display: inline-block;
  font-size: 13px;
  position: relative;
  text-shadow: 1px 0 0 $color__black;
  top: -1px;
  user-select: none;
}

.actions {
  float: right;
  margin-top: 2px;
  position: relative;
  z-index: 2;

  &__button {
    background: no-repeat $action-button__background-color;
    cursor: pointer;
    float: left;
    height: 17px;
    margin-left: -2px;
    margin-right: 4px;
    width: 17px;

    &--close {
      background-image: url('../../../../../../assets/dialog/actions/close-dialog.png');
    }
  }
}

.body {
  overflow: auto;
  width: 675px;

  .content {
    background: url('../../../../../../assets/dialog/dialog-bg-top.png') center top no-repeat;
    float: left;
    padding: 18px 22px;
    width: 100%;
  }
}
