<div class="dialog dialog--{{activeApp$ | async}}" ngDraggable [handle]="handle" [bounds]="dialogBounds" [inBounds]="true"
     (started)="onStarted()" (stopped)="onStopped()">
  <div class="header" #handle>
    <div class="image-container">
      <div class="image-container__image image-container__image--{{image}}"></div>
    </div>

    <h5 class="title">{{title}}</h5>

    <div class="actions">
      <div class="actions__button actions__button--close" (click)="close.emit()"></div>
    </div>
  </div>

  <div class="body">
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
