@import '../../../../../../../scss/globals';

$menu-item__color: rgb(54, 24, 7);

.footer {
  align-items: center;
  background: url('../../../../../../../assets/main/main-bottom-shadow.png') repeat-x;
  display: flex;
  height: 140px;
  justify-content: center;
  padding-top: 74px;
}

.nav-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  &__item {
    display: inline-block;
    margin: 0 1em;
  }
}

.menu-item {
  color: $menu-item__color;
  font-family: 'Caesar', cursive;
  font-size: 13px;
  border-bottom: 1px solid transparent;
  transition: .3s border-bottom-color;

  &:hover,
  &--active {
    border-bottom-color: $menu-item__color;
  }
}
