<footer class="footer">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list__item" *ngFor="let menuItem of menuItems">
        <a [routerLink]="menuItem.routerLink" class="menu-item"
           routerLinkActive="menu-item--active">{{menuItem.translationKey | translate}}</a>
      </li>
    </ul>
  </nav>
</footer>
