@import '../../../../../scss/globals';

$avatar__shadow: 0 0 5px rgba($color__black, .5);

:host {
  display: block;
}

.avatar {
  @include border('../../../../../assets');
  background: $color__main;
  height: 100%;
  position: relative;
  width: 100%;

  &__image-container {
    height: 100%;
    position: absolute;
    width: 100%;

    &:after {
      box-shadow: inset $avatar__shadow;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__icon-container {
    align-items: center;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__icon {
    fill: $color__beige;
    -webkit-filter: drop-shadow($avatar__shadow);
    filter: drop-shadow($avatar__shadow);
    height: 50%;
  }
}
