<div class="avatar">
  <div class="avatar__image-container">
    <img [src]="avatar" class="avatar__image" [alt]="username ? ('profile.avatar' | translate:{username: username}) : ''" (load)="onImageLoaded()">
  </div>

  <div class="avatar__icon-container" *ngIf="pending">
    <zephyros-icon-widget [icon]="Icon.Loading" class="avatar__icon"></zephyros-icon-widget>
  </div>
</div>
