<div class="profile">
  <h1>
    <span *ngIf="profile else usernamePlaceholder">{{profile.username}}</span>
    <ng-template #usernamePlaceholder>
      <zephyros-placeholder-widget class="placeholder--username"></zephyros-placeholder-widget>
    </ng-template>
  </h1>
</div>
