@import '../scss/globals';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &--selection-disabled {
    user-select: none;
  }

  &__page {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}

.router-outlet {
  height: 100%;
  position: relative;
}

.animation-container {
  position: absolute;
  bottom: $bottom-line__height;
  left: 0;
  right: 0;
  top: 0;
}

.loading-screen {
  position: absolute;
}

.bottom-shadow {
  background: url('../assets/ingame/bottom-shadow.png') repeat-x;
  bottom: $bottom-line__height;
  height: 11px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.bottom-line {
  background: url('../assets/bottom-line.png') bottom repeat-x;
  bottom: 0;
  height: $bottom-line__height;
  position: absolute;
  width: 100%;
  z-index: 2;
}
