<div class="app" [ngClass]="{'app--selection-disabled': selectionDisabled$ | async}" [@.disabled]="!enableAnimations">
  <div class="app__page">
    <div class="router-outlet">
      <div class="animation-container" [@appRoutingAnimation]="getRouteApp(outlet)">
        <router-outlet #outlet="outlet">
          <zephyros-loading-screen class="loading-screen" *ngIf="isAppLoading" @appLoadingAnimation></zephyros-loading-screen>
        </router-outlet>
      </div>
    </div>

    <zephyros-dialogs-container></zephyros-dialogs-container>
    <zephyros-dialog-bounds></zephyros-dialog-bounds>

    <div class="bottom-shadow" [@bottomShadowAnimation]="activeApp$ | async"></div>
    <div class="bottom-line"></div>
  </div>

  <zephyros-cookies-notification (accept)="onAcceptCookiesNotification()" @cookiesNotificationAnimation
                                 *ngIf="showCookiesNotification"></zephyros-cookies-notification>
</div>
