<div class="page-with-sidebar">
  <aside class="sidebar">
    <ng-content select="[sidebar]"></ng-content>
  </aside>

  <main class="content">
    <ng-content select="[content]"></ng-content>
  </main>
</div>
