@import '../../../../../../../scss/globals';

$sidebar__color--1: #3358f4;
$sidebar__color--2: #1d8cf8;
$sidebar__box-shadow-color: rgba(0, 0, 0, .6);

.page-with-sidebar {
  display: flex;
  height: 100%;
  padding: 20px;
}

.sidebar {
  background: linear-gradient(0deg, $sidebar__color--1, $sidebar__color--2);
  border-radius: 5px;
  box-shadow: 0 0 45px 0 $sidebar__box-shadow-color;
  color: $color__white;
  font-size: 14px;
  padding: 12px;
  width: 230px;
}

.content {
  font-size: 14px;
  padding: 16px 12px;
  width: 646px;
}
