@import '../../../../../../../scss/globals';

$level__color: #0e0804;
$level__text-shadow-color: #f9db9f;
$label__text-shadow-color: #1f150b;

.prosperity-bar {
  background: url('../../../../../../../assets/ingame/prosperity-bar/prosperity-bar.png') repeat-x;
  height: $ingame-prosperity-bar__height--actual;
  margin-bottom: calc(-#{$ingame-prosperity-bar__height--actual} + #{$ingame-prosperity-bar__height--display});
  overflow: hidden;
  position: relative;
  z-index: 2;

  &__progress {
    display: flex;
    height: 32px;
  }

  &__bar {
    background: url('../../../../../../../assets/ingame/prosperity-bar/progress.png') repeat-x;
    flex: 1;
  }

  &__fade {
    background: url('../../../../../../../assets/ingame/prosperity-bar/progress-fade.png') center right no-repeat;
    margin-right: -90px;
    width: 194px;
  }

  &__level {
    background: url('../../../../../../../assets/ingame/prosperity-bar/prosperity-level.png') no-repeat;
    color: $level__color;
    font-size: 20px;
    height: 32px;
    padding-top: 2px;
    padding-right: 10px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px $level__text-shadow-color;
    top: 0;
    width: 45px;
  }

  &__label {
    color: $color__white;
    flex: 1;
    font-size: 14px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 2px $label__text-shadow-color;
    top: 6px;
    width: 100%;
  }
}
