<div class="prosperity-bar">
  <div class="prosperity-bar__progress" [style.width]="progress | percent">
    <div class="prosperity-bar__bar"></div>
    <div class="prosperity-bar__fade"></div>
  </div>

  <div class="prosperity-bar__level" [title]="'city.prosperity.level' | translate">
    <zephyros-change-animation-widget [value]="level"></zephyros-change-animation-widget>
  </div>

  <div class="prosperity-bar__label">
    <zephyros-change-animation-widget [value]="progress | percent"></zephyros-change-animation-widget>
  </div>
</div>
