<form class="form" (submit)="onSubmit()" *ngIf="state$ | async as state">
  <h1 class="form__title">{{'register.title' | translate}}</h1>

  <div *ngIf="state.error">{{getErrorMessage(state.error) | async}}</div>

  <section class="form__field">
    <label for="register-username">{{'username' | translate}}</label>
    <input type="text" id="register-username" name="username" [(ngModel)]="dto.username" autocomplete="username" required>
  </section>

  <section class="form__field">
    <label for="register-email">{{'email' | translate}}</label>
    <input type="email" id="register-email" name="email" [(ngModel)]="dto.email" autocomplete="email" required>
  </section>

  <section class="form__field">
    <label for="register-password">{{'password' | translate}}</label>
    <input type="password" id="register-password" name="password" [(ngModel)]="dto.password" autocomplete="new-password" required>
  </section>

  <button type="submit" [disabled]="state.formDisabled" [ngClass]="{'pulsing': state.waitingForResponse}">
    <ng-container *ngIf="state.waitingForResponse">
      <zephyros-icon-widget [icon]="Icon.Loading"></zephyros-icon-widget>
    </ng-container>

    <ng-container *ngIf="state.success">
      <zephyros-icon-widget [icon]="Icon.Tick"></zephyros-icon-widget>
    </ng-container>

    <span *ngIf="!state.waitingForResponse && !state.success" translate>register.submit</span>
  </button>
</form>
