@import '../../../../../../../scss/globals';

$mini-map__size: 300px;

.mini-map {
  @include border('../../../../../../../assets', false, false, true, false);
  background: no-repeat;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  width: $mini-map__size;

  &--dragging {
    cursor: move;
  }

  &__highlight {
    @include border('../../../../../../../assets');
    box-sizing: content-box;
    position: absolute;
    box-shadow: 0 0 0 $mini-map__size rgba(0, 0, 0, 0.5); // todo: if the height of the map is greater than the width this fails
    margin-left: -$border__width;
    margin-top: -$border__width;
    pointer-events: none;
  }
}
