<div class="mini-map" [ngClass]="{'mini-map--dragging': isDragging}" [style.backgroundImage]="'url(' + mapInfo.miniMap.url + ')'"
     [style.height.px]="miniMapHeight" (mousedown)="startDragging($event)" (mousemove)="drag($event)"
     (mouseup)="stopDragging()" (mouseout)="stopDragging()" #miniMap>
  <div class="mini-map__highlight" [ngStyle]="miniMapHighlightStyle" #miniMapHighlight></div>
</div>
