@import '../../../../../../../scss/globals';

:host {
  display: block;
}

.challenges {
  padding: 1.2em 1.4em;
}

.title {
  color: $color__beige;
  font-size: 1.3em;
  text-shadow: 0 1px 3px rgba(8, 6, 3, 0.3);
}

.challenge {
  &__title {
    color: $color__white;
    font-family: 'Caesar', cursive;
    font-size: 1.15em;
    text-shadow: 0 1px 3px rgba(8, 6, 3, 0.3);
  }
}

.task {
  align-items: center;
  display: flex;
  margin: .5em 0 .8em;

  &--done {
    opacity: .35;
  }

  &__status {
    margin-right: .6em;
  }

  &__icon {
    fill: $color__beige;
    height: 1em;
  }

  &__description {
    color: rgba($color__white, .85);
    flex: 1;
    text-shadow: 0 1px 2px rgba($color__black, .2);
  }
}
