<div class="challenges">
  <h3 class="title">{{'challenges.title' | translate}}</h3>

  <div class="challenge">
    <hr>

    <div class="challenge__title">Das ist Sparta!</div>

    <div class="task task--done">
      <div class="task__status">
        <zephyros-radial-progress [value]="100" [radius]="20">
          <zephyros-icon-widget [icon]="Icon.Tick" class="task__icon"></zephyros-icon-widget>
        </zephyros-radial-progress>
      </div>
      <div class="task__description">Errichte als Spartaner ein Weltwunder.</div>
    </div>

    <div class="task">
      <div class="task__status">
        <zephyros-radial-progress [value]="75" [radius]="20">75%</zephyros-radial-progress>
      </div>
      <div class="task__description">Gewinne 4 Kämpfe während du unter der Nation Spartas spielst.</div>
    </div>
  </div>

  <div class="challenge">
    <hr>

    <div class="challenge__title">Diktator</div>

    <div class="task">
      <div class="task__status">
        <zephyros-radial-progress [value]="0" [radius]="20">0%</zephyros-radial-progress>
      </div>
      <div class="task__description">Entscheide dich für die Herrschaftsform "Diktatur".</div>
    </div>
  </div>
</div>
