<a class="world" [routerLink]="['/world', world.id]">
  <div class="world__details">
    <h1 class="world__title">{{world.name}}</h1>
  </div>

  <div class="users-bar">
    <div class="users-bar__filled" [style.width.%]="world.playerAmount * 100 / world.maxPlayers"></div>

    <div class="users-bar__overlay">
      <span class="users-bar__label">
        <zephyros-change-animation-widget [value]="world.playerAmount"></zephyros-change-animation-widget>/{{world.maxPlayers}}
        {{'players' | translate}}
      </span>
    </div>
  </div>
</a>
