@import '../../../../../../../scss/globals';

$world__background-color: rgba($color__black, .6);

$users-bar__height: 7px;
$users-bar__height--hover: 28px;

.world {
  @extend %box-shadow--clickable;
  @include border('../../../../../../../assets');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  &:hover {
    .users-bar {
      height: $users-bar__height--hover;

      &__overlay {
        opacity: 1;
      }
    }
  }

  &:before {
    background: $world__background-color;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__details {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__title {
    color: $color__white;
    font-family: 'Caesar', cursive;
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
  }
}

.users-bar {
  @include border('../../../../../../../assets', true, false, false, false);
  background: url('../../../../../../../assets/main/world/user-bar.png') repeat-x;
  height: $users-bar__height;
  position: relative;
  transition: height .2s;

  &__filled {
    background: url('../../../../../../../assets/main/world/user-bar-filled.png') top repeat-x;
    height: 100%;
    transition: width 1s;
  }

  &__overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    height: $users-bar__height--hover;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: opacity .1s;
    width: 100%;
    vertical-align: middle;
  }

  &__label {
    color: $color__white;
    display: flex;
    font-size: .8em;
  }
}
