@import '../../../../../scss/globals';

@font-face {
  src: url('../../../../../assets/ingame/fonts/Lithos.otf');
  font-family: 'Lithos';
  font-weight: 400;
}

@font-face {
  src: url('../../../../../assets/ingame/fonts/LithosBold.otf');
  font-family: 'Lithos';
  font-weight: 700;
}

$cities-list__right: 10px;

.ingame-screen {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__head-line {
    background: url('../../../../../assets/ingame/head-line.png') repeat-x;
    height: 24px;
    margin-bottom: -4px;
    pointer-events: none;
    position: relative;
    z-index: 3;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    position: relative;
  }

  &__resources {
    position: relative;
    z-index: 2;
  }
}

.cities-list {
  display: block;
  position: absolute;
  z-index: 2;

  &--city {
    right: $cities-list__right;
    top: calc(#{$ingame-prosperity-bar__height--display} + 12px);
  }

  &--world {
    right: calc(#{$world-options__width} + #{$cities-list__right});
    top: 15px;
  }
}

.router-outlet {
  position: relative;
  height: 100%;
  z-index: 1;
}

.animation-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.navigation {
  bottom: 16px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}

.pause-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
