<div class="ingame-screen">
  <div class="ingame-screen__head-line"></div>

  <div class="ingame-screen__content">
    <zephyros-resources class="ingame-screen__resources"></zephyros-resources>

    <zephyros-cities-list *ngIf="cities$ | async as cities" [cities]="cities"
                          class="cities-list cities-list--{{activeView$ | async}}"></zephyros-cities-list>

    <main class="router-outlet">
      <div class="animation-container" [@routingFadeAnimation]="getRouteView(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </main>

    <zephyros-ingame-view-navigation class="navigation"></zephyros-ingame-view-navigation>

    <zephyros-pause-overlay class="pause-overlay" (action)="handlePauseOverlayAction($event)"
                            *ngIf="showPauseOverlay" [@pauseMenuAnimation]></zephyros-pause-overlay>
  </div>
</div>
