<div class="building-screen">
  <section class="sites-switcher sites-switcher--{{buildingSite.building.category}}">
    <!-- todo: loading ... -->

    <div class="sites-switcher__category sites-switcher__category--{{buildingSite.building.category}}"
         [innerHTML]="'building-categories.' + buildingSite.building.category | translate"></div>

    <div class="sites-switcher__sites">
      <zephyros-building-site-switcher *ngIf="buildingSite" [buildingSite]="buildingSite" [active]="true"
                                       class="sites-switcher__site"></zephyros-building-site-switcher>

      <zephyros-building-site-switcher *ngFor="let buildingSite of buildingSites$ | async" [buildingSite]="buildingSite"
                                       (click)="selectBuilding(buildingSite.building)" class="sites-switcher__site"></zephyros-building-site-switcher>
    </div>
  </section>

  <div class="building-screen__content">
    <zephyros-page-with-sidebar>
      <ng-content select="[content]" content></ng-content>

      <ng-container sidebar>
        <p>Ausbauen coming soon</p>

        <ng-content select="[sidebar]"></ng-content>
      </ng-container>
    </zephyros-page-with-sidebar>
  </div>
</div>
