@import '../../../../../../../scss/globals';

.building-screen {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    flex: 1;
  }
}

.sites-switcher {
  @extend %box-shadow;
  @include border('../../../../../../../assets', false, false, true, false);
  background: url('../../../../../../../assets/bg.jpg') repeat $background-image__average-color;
  display: flex;
  position: relative;
  z-index: 1;

  &:before {
    background: $color__black;
    content: '';
    height: 100%;
    opacity: .6;
    position: absolute;
    width: 100%;
  }

  &:after {
    content: '';
    height: 100%;
    opacity: .25;
    position: absolute;
    width: 100%;
  }

  &--culture {
    &:after {
      background: $building-category__color--culture;
    }
  }

  &--military {
    &:after {
      background: $building-category__color--military;
    }
  }

  &--research {
    &:after {
      background: $building-category__color--research;
    }
  }

  &--resources {
    &:after {
      background: $building-category__color--resources;
    }
  }

  &__category {
    @include border('../../../../../../../assets', false, true, false, false);
    align-items: center;
    box-shadow: inset 0 2px 5px rgba($color__black, .1);
    color: rgba($color__white, .85);
    display: flex;
    justify-content: center;
    line-height: 1.35;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(8, 6, 3, 0.3);
    width: 90px;
    z-index: 2;

    &--culture {
      background: rgba($building-category__color--culture, .4);
    }

    &--military {
      background: $building-category__color--military;
    }

    &--research {
      background: $building-category__color--research;
    }

    &--resources {
      background: $building-category__color--resources;
    }
  }

  &__sites {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 2;
  }

  &__site {
    width: calc(100% / 6);
  }
}
