@import '../../../../../scss/globals';

$overlay__background-color: rgba($color__black, .75);

$title__color: #e7dbbc;

:host {
  align-items: center;
  background: $overlay__background-color;
  display: flex;
  justify-content: center;
}

.menu {
  text-align: center;
  width: 220px;

  &__title {
    color: $title__color;
    font-family: 'Caesar', cursive;
    font-size: 1.8em;
    margin-bottom: .5em;
  }
}

.buttons {
  display: flex;
  flex-direction: column;

  &__button {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
