<div class="overlay">
  <div class="menu">
    <h1 class="menu__title">
      {{'pause-overlay.title' | translate}}
      <small>(ESC)</small>
    </h1>

    <div class="buttons">
      <button class="buttons__button" (click)="action.emit(PauseOverlayAction.Unpause)">{{'pause-overlay.back-to-game' | translate}}</button>
      <button class="buttons__button" (click)="action.emit(PauseOverlayAction.LeaveGame)">{{'pause-overlay.leave-game' | translate}}</button>
    </div>
  </div>
</div>
