@import '../../../../../../../scss/globals';

.city-screen {
  background: $color__white;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
}

.content {
  flex: 1;
}
