<div class="city-screen">
<!--  todo-->
<!--  <zephyros-prosperity-bar [level]="1" [currentProsperity]="50" [requiredProsperity]="100"></zephyros-prosperity-bar>-->

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
