<zephyros-main-full-page>
  <zephyros-profile *ngIf="!errorOccurred else notFound" [profile]="profile"></zephyros-profile>

  <ng-template #notFound>
    <zephyros-profile-not-found></zephyros-profile-not-found>
  </ng-template>
</zephyros-main-full-page>
