@import '../../../../../../../scss/globals';

$intro__background-color: rgba($color__black, .2);
$intro-title__color: #24190d;
$intro-paragraph__color: #24190d;

.intro {
  @extend %box-shadow;
  @include border('../../../../../../../assets', false, false, true, false);
  background: $intro__background-color;
  margin-bottom: 0;
  padding: 4em 0;
  text-align: center;

  &__title {
    color: $intro-title__color;
    font-size: 2em;
    margin-bottom: .6em;
    text-transform: uppercase;
  }

  &__paragraph {
    color: $intro-paragraph__color;
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 0;
  }
}
