@import '../../../../../../../scss/globals';

$building-site-overlay__background-color: rgba($color__black, .5);

.building-site {
  @include border('../../../../../../../assets', false, true, false, false);
  align-items: center;
  background: url('../../../../../../../assets/ingame/buildings/building-preview.png') center center no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 2em 0;
  position: relative;

  &:before {
    content: '';
    background: $building-site-overlay__background-color;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  &:nth-child(6) {
    border-right: 0;
  }

  &--active {
    cursor: default;
  }

  &__building-name {
    color: $color__white;
    position: relative;
    z-index: 2;
  }
}
