@import '../../../../../../../scss/globals';

$extension__background-color: rgba(0, 0, 0, 0.6);
$extension__box-shadow-color: rgba(0, 0, 0, .15);
$extension__box-shadow-color--hover: rgba(0, 0, 0, .3);

$variation1__color--light: #ef5350;
$variation1__color--dark: #d32f2f;
$variation2__color--light: #26c6da;
$variation2__color--dark: #0097a7;
$variation3__color--light: #ec407a;
$variation3__color--dark: #c2185b;
$variation4__color--light: #66bb6a;
$variation4__color--dark: #388e3c;
$variation5__color--light: #ab47bc;
$variation5__color--dark: #7b1fa2;
$variation6__color--light: #ffa726;
$variation6__color--dark: #f57c00;

:host {
  display: block; // todo
}

.extension {
  @extend %box-shadow;
  @include border('../../../../../../../assets');
  background: $extension__background-color;
  box-shadow: 0 6px 10px -4px $extension__box-shadow-color;
  overflow: hidden;
  position: relative;
  transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease;

  &__image {
    @include border('../../../../../../../assets', false, false, true, false);
    background: linear-gradient(60deg, var(--variation__color--light), var(--variation__color--dark));
    height: 180px;
    position: relative;

    &:before {
      background: url('../../../../../../../assets/main/hydra.png') center no-repeat; // todo
      background-size: cover;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__body {
    color: $color__white;
    padding: 1em 1.5em;
    position: relative;
    text-align: justify;
    z-index: 1;
  }

  &__title {
    font-size: 1.4em;
  }

  &__paragraph {
    margin: .5em 0 1em;
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    a {
      color: $color__main;
      font-size: .8em;
      font-weight: bold;
      text-transform: uppercase;
      transition: transform .3s cubic-bezier(.34, 2, .6, 1), color .2s ease;

      &:active {
        transform: translateY(1px);
      }
    }
  }

  &--variation {
    &1 {
      --variation__color--light: #{$variation1__color--light};
      --variation__color--dark: #{$variation1__color--dark};
    }

    &2 {
      --variation__color--light: #{$variation2__color--light};
      --variation__color--dark: #{$variation2__color--dark};
    }

    &3 {
      --variation__color--light: #{$variation3__color--light};
      --variation__color--dark: #{$variation3__color--dark};
    }

    &4 {
      --variation__color--light: #{$variation4__color--light};
      --variation__color--dark: #{$variation4__color--dark};
    }

    &5 {
      --variation__color--light: #{$variation5__color--light};
      --variation__color--dark: #{$variation5__color--dark};
    }

    &6 {
      --variation__color--light: #{$variation6__color--light};
      --variation__color--dark: #{$variation6__color--dark};
    }
  }
}
