<div class="extension extension--variation{{extension.variation}}">
  <div class="extension__image"></div>

  <div class="extension__body">
    <h3 class="extension__title">{{extension.title}}</h3>

    <p class="extension__paragraph">{{extension.description}}</p>

    <div class="extension__buttons">
      <button (click)="activate()">{{('extensions.activate' | translate:{price: extension.price})}}</button>

      <a [routerLink]="['/extensions', extension.id]">{{'extensions.details' | translate}}</a>
    </div>
  </div>
</div>
