@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'scss/globals';

$input-color__dark-brown: #7e6937;
$input-color__light-brown: #e7d7b6;

$pulsing__color--opaque: rgba($color__main, .5);
$pulsing__color--transparent: rgba($color__main, 0);

@font-face {
  font-family: 'Caesar';
  font-weight: 400;
  src: url('assets/fonts/caesar.TTF') format('truetype');
}

::selection {
  background: $color__black;
  color: $color__white;
}

body {
  font-family: 'PT Sans', sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

input,
textarea {
  @extend %box-shadow--input;
  background: url('assets/inputs/input.png') repeat-x $input-color__light-brown;
  border: solid 1px $input-color__dark-brown;
  border-radius: 5px;
  color: $input-color__dark-brown;
  font-size: 12px;
  padding: 9px 8px 5px;

  &:focus {
    outline: 0;
  }
}

input {
  height: 31px;
}

textarea {
  width: 100%;
}

button {
  @extend %box-shadow--focusable-clickable;
  background: url('assets/inputs/button.png') 0 0 repeat-x;
  border: 1px solid $button__light-brown;
  border-radius: 5px;
  color: $button__dark-brown;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Caesar', cursive;
  height: 31px;
  padding: 0 15px;
  user-select: none;

  &:not([disabled]) {
    &:hover {
      background-position: 0 -31px;
      color: $button__dark-brown--hover;
    }

    &:active {
      background-position: 0 -62px;
      border-color: $button__green;
      color: $color__white;
    }
  }

  &:focus {
    box-shadow: $box-shadow--focus;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .8;
    user-select: none;
  }

  &.pulsing {
    animation: pulsingAnimation 1s 0.2s infinite;
  }

  zephyros-icon-widget {
    height: 60%;
    margin-right: .5em;

    path {
      fill: $button__dark-brown;
    }
  }
}

@keyframes pulsingAnimation {
  0% {
    box-shadow: $box-shadow--focus, 0 0 0 0 $pulsing__color--opaque;
  }

  100% {
    box-shadow: $box-shadow--focus, 0 0 0 .8em $pulsing__color--transparent;
  }
}

.mat-tooltip {
  @include border('assets');
  background: rgba($color__black, .9);
  border-radius: 0;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .6);
  color: $color__white;
  font-size: 13px;
  padding: 4px 6px;
}
