@import './global_vars';

$box-shadow: 0 2px 5px -2px rgba($color__black, .6);
$box-shadow--hover: 0 2px 6px -2px rgba($color__black, .9);
$box-shadow--active: 0 2px 10px -2px $color__black;

%box-shadow {
  box-shadow: $box-shadow;
}

%box-shadow--focusable {
  transition: .15s box-shadow ease-in-out;

  &,
  &:hover {
    &:focus {
      box-shadow: $box-shadow--focus;
    }
  }
}

%box-shadow--clickable {
  @extend %box-shadow;
  transition: .2s box-shadow;

  &:not([disabled]) {
    &:hover {
      box-shadow: $box-shadow--hover;
    }

    &:active {
      box-shadow: $box-shadow--active;
    }
  }
}

%box-shadow--focusable-clickable {
  @extend %box-shadow--clickable;
  @extend %box-shadow--focusable;

  &:not([disabled]) {
    &:hover {
      &:focus {
        box-shadow: $box-shadow--focus, $box-shadow--hover;
      }
    }

    &:active {
      &:focus {
        box-shadow: $box-shadow--focus, $box-shadow--active;
      }
    }
  }
}

%box-shadow--input {
  @extend %box-shadow--focusable;
  transition: .2s box-shadow;

  &:hover {
    box-shadow: $box-shadow;
  }
}
