$border__width: 2px;

@mixin border($assets, $border-top: true, $border-right: true, $border-bottom: true, $border-left: true) {
  border: 0 solid;
  border-image: url($assets + '/border.png') 2 2 fill repeat;

  @if($border-top == true) {
    border-top-width: $border__width;
  }
  @if($border-right == true) {
    border-right-width: $border__width;
  }
  @if($border-bottom == true) {
    border-bottom-width: $border__width;
  }
  @if($border-left == true) {
    border-left-width: $border__width;
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}
