$color__black: #000;
$color__main: #6c8f7a;
$color__white: #fff;
$color__brown: #7f6949;
$color__beige: #eacfa2;

$building-category__color--culture: #512b6b;
$building-category__color--military: #6b0a15;
$building-category__color--research: #256a6b;
$building-category__color--resources: #546b3d;

$resource__color--wood: #79492c;
$resource__color--stone: #54564f;
$resource__color--stone: #54564f;
$resource__color--marble: #a4a398;
$resource__color--gold: #d9af43;
$resource__color--knowledge: #4985cd;
$resource__color--mythology: #6c8f7a;
$resource__color--iron: #675055;
$resource__color--food: #ce4744;
$resource__color--wine: #6d2e55;
$resource__color--spices: #5b372d;
$resource__color--oliveoil: #ba9300;
$resource__color--silver: #839493;
$resource__color--amber: #d77104;
$resource__color--salt: #90b7d1;
$resource__color--silk: #b74392;
$resource__color--clay: #76371e;
$resource__color--gems: #5f72ad;
$resource__color--pitch: #030015;

$button__light-brown: #726341;
$button__green: #5c7a68;
$button__dark-brown: #524527;
$button__dark-brown--hover: #302a1c;

$main-header__height: 64px;
$main-header__height--actual: 69px;
$background-image__average-color: #d6c08f;

$ingame-header__height: 54px;
$ingame-prosperity-bar__height--display: 34px;
$ingame-prosperity-bar__height--actual: 39px;

$world-options__width: 300px;

$bottom-line__height: 15px;

$box-shadow--focus: 0 0 0 0.2rem rgba($color__main, .5);
