@import '../../../../../../../scss/globals';

.timeout {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4em;

  &__icon {
    background: url('../../../../../../../assets/main/error.png') no-repeat;
    height: 55px;
    margin-bottom: 1.2em;
    width: 48px;
  }

  &__title {
    color: $color__brown;
  }

  &__label {
    color: $color__brown;
    font-size: 1.2em;
    opacity: .8;
  }

  &__link {
    border-bottom: 1px solid $color__brown;
    color: $color__brown;
    cursor: pointer;
    margin-top: 1.2em;
    opacity: .8;
    transition: .2s opacity, .2s border-bottom;

    &:hover {
      opacity: 1;
    }

    &:active {
      border-bottom: 0;
    }
  }
}
