<div class="timeout">
  <div class="timeout__icon"></div>
  <h3 class="timeout__title">{{'errors.timeout.title' | translate}}</h3>
  <span class="timeout__label">{{'errors.timeout.body' | translate}}</span>
  <span class="timeout__link" (click)="retry.emit()">{{'errors.timeout.retry' | translate}}</span>
</div>
