@import '../../../../../scss/globals';

:host {
  &:last-of-type {
    .resource {
      border: 0;
    }
  }
}

.resource {
  @include border('../../../../../assets', false, true, false, false);
  background: 10px 50% no-repeat;
  cursor: pointer;
  padding: 4px 5px;
  position: relative;

  &:before {
    content: '';
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    transition: .2s opacity;
    width: 100%;
    z-index: 1;
  }

  &:hover {
    &:before {
      opacity: .4;
    }
  }

  &:active {
    &:before {
      opacity: .3;
    }
  }

  &--undiscovered {
    cursor: default;
    user-select: none;

    &:after {
      background: $color__black;
      content: '';
      height: 100%;
      left: 0;
      opacity: .7;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    .details {
      filter: blur(3px);
    }
  }

  &--amber {
    &:before {
      background: $resource__color--amber;
    }
  }

  &--clay {
    &:before {
      background: $resource__color--clay;
    }
  }

  &--food {
    &:before {
      background: $resource__color--food;
    }
  }

  &--gems {
    &:before {
      background: $resource__color--gems;
    }
  }

  &--gold {
    &:before {
      background: $resource__color--gold;
    }
  }

  &--iron {
    &:before {
      background: $resource__color--iron;
    }
  }

  &--knowledge {
    &:before {
      background: $resource__color--knowledge;
    }
  }

  &--marble {
    &:before {
      background: $resource__color--marble;
    }
  }

  &--mythology {
    &:before {
      background: $resource__color--mythology;
    }
  }

  &--oliveoil {
    &:before {
      background: $resource__color--oliveoil;
    }
  }

  &--salt {
    &:before {
      background: $resource__color--salt;
    }
  }

  &--silk {
    &:before {
      background: $resource__color--silk;
    }
  }

  &--silver {
    &:before {
      background: $resource__color--silver;
    }
  }

  &--spices {
    &:before {
      background: $resource__color--spices;
    }
  }

  &--stone {
    &:before {
      background: $resource__color--stone;
    }
  }

  &--wine {
    &:before {
      background: $resource__color--wine;
    }
  }

  &--wood {
    &:before {
      background: $resource__color--wood;
    }
  }
}

.details {
  align-items: center;
  display: flex;
  font-size: 13px;
  position: relative;
  z-index: 2;

  &__amount {
    flex: 1;
    padding: 0 5px;
    text-align: center;
  }
}
