<div class="resource resource--{{info.resource}}" [ngClass]="{'resource--undiscovered': !info.discovered}"
     [matTooltip]="info.discovered ? amount + ' ' + ('resources.' + info.resource | translate) : ('resources.undiscovered' | translate)">
  <div class="details">
    <img [src]="'/assets/ingame/icons/' + info.resource + '.png'" class="details__icon"
         [alt]="(info.discovered ? 'resources.' + info.resource : 'resources.undiscovered') | translate">

    <span class="details__amount">
      {{amount | numeral:'0a'}}
    </span>
  </div>
</div>
