@import '../../../../../../../scss/globals';

$text__color: #e6be52;
$title__color: #ffd262;

:host {
  display: block;
}

.featured {
  background: url('../../../../../../../assets/main/featured/stones.jpg') center top repeat-x;
  display: flex;
  height: 366px;
  position: relative;
  width: 100%;
  z-index: 1;

  &:after {
    background: url('../../../../../../../assets/main/featured/line.png') center center repeat-x;
    bottom: -6px;
    content: '';
    height: 22px;
    position: absolute;
    width: 100%;
  }

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

.character {
  background-repeat: no-repeat;
  height: 100%;

  &--priest {
    background-image: url('../../../../../../../assets/main/featured/priest.png');
    width: 335px;
  }

  &--researcher {
    background-image: url('../../../../../../../assets/main/featured/researcher.png');
    width: 270px;
  }

  &--syvoulos {
    background-image: url('../../../../../../../assets/main/featured/syvoulos.png');
    width: 405px;
  }
}

.text {
  color: $text__color;
  flex: 1;
  font-size: 17px;
  line-height: 27px;
  text-shadow: 1px 1px 10px $color__black;

  &__title {
    color: $title__color;
    font-family: 'Caesar', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 23px;
  }
}

.leaves {
  background-repeat: no-repeat;
  height: 73px;
  position: absolute;
  z-index: 2;

  &--left {
    background-image: url('../../../../../../../assets/main/featured/leaves-left.png');
    bottom: -13px;
    width: 160px;
  }

  &--right {
    background-image: url('../../../../../../../assets/main/featured/leaves-right.png');
    bottom: -38px;
    right: 0;
    width: 193px;
  }
}
