<div class="featured">
  <div class="container">
    <div class="featured__content">
      <div class="character character--{{character}}"></div>

      <div class="text">
        <h1 class="text__title">{{'worlds-overview.featured.' + character + '.title' | translate}}</h1>
        <p>{{'worlds-overview.featured.' + character + '.body' | translate}}</p>
      </div>
    </div>
  </div>

  <div class="leaves leaves--left"></div>
  <div class="leaves leaves--right"></div>
</div>
