<div class="widget">
  <zephyros-city-name-widget [city]="city" class="widget__city-name"></zephyros-city-name-widget>
  <zephyros-city-icons-widget [city]="city" class="widget__icons"></zephyros-city-icons-widget>
</div>
