@import '../../../../../scss/globals';

.dialog-bounds {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: -1;

  &--main {
    height: calc(100% - #{$main-header__height});
    top: $main-header__height;
  }

  &--ingame {
    height: calc(100% - #{$ingame-header__height});
    top: $ingame-header__height;
  }
}
