<div class="selected-city" [ngClass]="{'selected-city--open': isDropdownOpen}" (click)="toggleDropdown()" tabindex="0">
  <zephyros-city-name-with-icons-widget [city]="selectedCity"></zephyros-city-name-with-icons-widget>
</div>

<div class="cities-list" [ngClass]="{'cities-list--hidden': !isDropdownOpen}">
  <a *ngFor="let city of sort(cities)" (click)="selectCity(city)" class="city-item"
     [ngClass]="{'city-item--selected': city.id === selectedCity.id}">
    <zephyros-city-name-with-icons-widget [city]="city"></zephyros-city-name-with-icons-widget>
  </a>

  <a href="" class="city-item city-item--overview">{{'overviews.cities.title' | translate}}</a>
</div>
