@import '../../../../../scss/globals';

$item__color: #542c0f;

$cities-list__background-color: #d6c18f;
$cities-list__border-color: #2c1d0a;

$city-item__background-color--hover: #dad0b4;

$overview__background-color: #f3e1b2;

.selected-city {
  @extend %box-shadow--clickable;
  align-items: center;
  background: url('../../../../../assets/ingame/cities-list/select-city.png') 0 0 no-repeat;
  color: $item__color;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  margin-top: -12px;
  outline: none;
  padding: 6px 12px;
  width: 270px;

  &:hover {
    background-position: 0 -32px;
  }

  &--open {
    &,
    &:hover {
      background-position: 0 -64px;
    }
  }
}

.cities-list {
  @extend %box-shadow;
  background: url('../../../../../assets/ingame/cities-list/dropdown.png') repeat-y $cities-list__background-color;
  border-bottom: 1px solid $cities-list__border-color;
  padding: 5px 2px 0;
  position: absolute;
  width: 270px;
  z-index: 11;

  &--hidden {
    display: none;
  }
}

.city-item {
  color: $item__color;
  cursor: pointer;
  float: left;
  font-size: 12px;
  padding: 5px 10px;
  width: 266px;

  &:hover {
    background: $city-item__background-color--hover;
  }

  &--selected {
    font-weight: 600;
  }

  &--overview {
    background: $overview__background-color;
    color: $item__color;
    font-size: 11px;
    margin-top: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
  }
}
