@import '../../../../../../../scss/globals';

.world-screen {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.world-map-container {
  flex: 1;
}

.world-map {
  height: 100%;
}

.world-options {
  @include border('../../../../../../../assets', false, false, false, true);
  background: $color__black;
  box-sizing: content-box;
  width: $world-options__width;
}
