<div class="world-screen">
  <div class="world-map-container" #map>
    <zephyros-world-map [mapInfo]="mapInfo" class="world-map" *ngIf="mapInfo"></zephyros-world-map>
  </div>

  <div class="world-options">
    <zephyros-world-mini-map [mapInfo]="mapInfo" *ngIf="mapInfo"></zephyros-world-mini-map>
  </div>
</div>
